
joshmodel/jmdltest.ipynb
joshmodel/jinput.txt
joshmodel/jmdl.py
joshmodel/.ipynb_checkpoints/jinput-checkpoint.txt
joshmodel/.ipynb_checkpoints/jmdl-checkpoint.py
joshmodel/.ipynb_checkpoints/jmdltest-checkpoint.ipynb
joshmodel/__pycache__/jmdl.cpython-38.pyc
